{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}

{% block body %}
    <section id="enroll">
        <div class="container padding-medium">

            <div class="offset-md-3 col-md-6 text-center ">

                <a href="https://www.linkadeti.sk/domov" target="_blank">
                    <span style="color: red;">Linka detskej dovery: </span> https://www.linkadeti.sk/domov
                </a></br>
                <a href="https://www.dusevnezdravie.sk/linky-pomoci" target="_blank">
                    <span style="color: red;">Linka dovery nezabudka: </span>  https://www.dusevnezdravie.sk/linky-pomoci
                </a></br>
                <a href="https://www.ldi.sk" target="_blank">
                    <span style="color: red;">Linka detskej istoty: </span>   https://www.ldi.sk
                </a></br>

            </div>

        </div>
        </div>
    </section>





{% endblock %}

