{% extends 'base.html.twig' %}

{% block title %}Kindergarten - Daycare and Kindergarten Website Template{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <section>
        <div class="container padding-medium">
            <h2 class="display-4 text-center mb-5">Tyzdenne menu </h2>

            <div class="post-content ">
                <div class="bootstrap-tabs">
                    <nav>
                        <div class="nav nav-tabs d-flex flex-wrap justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link mx-2 text-black fw-bold fs-5 active" id="nav-monday-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-monday" type="button" role="tab"
                                    aria-controls="nav-monday" aria-selected="true">Monday</button>
                            <button class="nav-link mx-2 text-black fw-bold fs-5" id="nav-tuesday-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-tuesday" type="button" role="tab"
                                    aria-controls="nav-tuesday" aria-selected="false" tabindex="-1">Tuesday</button>
                            <button class="nav-link mx-2 text-black fw-bold fs-5" id="nav-wednesday-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-wednesday" type="button" role="tab"
                                    aria-controls="nav-wednesday" aria-selected="false" tabindex="-1">Wednesday</button>
                            <button class="nav-link mx-2 text-black fw-bold fs-5" id="nav-thursday-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-thursday" type="button" role="tab"
                                    aria-controls="nav-thursday" aria-selected="false" tabindex="-1">Thursday</button>
                            <button class="nav-link mx-2 text-black fw-bold fs-5" id="nav-friday-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-friday" type="button" role="tab"
                                    aria-controls="nav-friday" aria-selected="false" tabindex="-1">Friday</button>
                        </div>
                    </nav>
                    <div class="tab-content mt-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-monday" role="tabpanel"
                             aria-labelledby="nav-monday-tab">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Ranajky</h3>
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Breakfast Cereal Bowl</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Desiata</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Obed</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Olovrant</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-tuesday" role="tabpanel" aria-labelledby="nav-tuesday-tab">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Ranajky</h3>
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Breakfast Cereal Bowl</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Desiata</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Obed</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Olovrant</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-wednesday" role="tabpanel"
                             aria-labelledby="nav-wednesday-tab">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Ranajky</h3>
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Breakfast Cereal Bowl</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Desiata</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Obed</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Olovrant</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-thursday" role="tabpanel" aria-labelledby="nav-thursday-tab">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Ranajky</h3>
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Breakfast Cereal Bowl</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Desiata</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Obed</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Olovrant</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-friday" role="tabpanel" aria-labelledby="nav-friday-tab">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Ranajky</h3>
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Breakfast Cereal Bowl</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Desiata</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Obed</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                        <h3>Olovrant</h3>
                                        <div class="col-12 mb-2">
                                            <h4 class="lh-sm">Avocado Sandwitch with eggs</h4>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur aut
                                                perferendis optio nemo tempora voluptatem placeat nostrum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}







