{% extends 'base.html.twig' %}

{% block body %}

    <section id="review">
        <div class=" services-sub container padding-medium">
            <h2 class="display-4 text-center mb-5">{{ 'review.reviewsFromParents'|trans }}</h2>

            <div class="row">

                {% for review in reviews %}
                    <div class="mt-5 col-md-4">
                        <div class="reviews-components">
                            <iconify-icon icon="gridicons:quote" class="quote my-2"></iconify-icon>
                            <p>“{{ review.reviewText }}”</p>
                            <div class="row mt-4">
                                <div class="col-md-8">
                                    <h5 class="lh-sm">{{ review.nick }}</h5>
                                    <div class="d-flex">
                                        {% for i in 1..(review.stars|number_format(0, 'floor')) %}
                                            <iconify-icon icon="ion:star" class="rate pe-1 text-warning"></iconify-icon>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if review.createdAt %}
                                    <div class="col-md-4 text-end">
                                        <small class="text-muted">{{ review.createdAt|date('d m, Y') }}</small>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-md-12">
                    {% include 'review/new.html.twig' %}
                </div>



            </div>


        </div>
    </section>



{% endblock %}


